MSClient/MSClient/Connected Services/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfMSServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfMSServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserExistsFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserExistsFault" nillable="true" type="tns:UserExistsFault" />
  <xs:complexType name="Clients">
    <xs:sequence>
      <xs:element minOccurs="0" name="Games" nillable="true" type="tns:ArrayOfGames" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clients" nillable="true" type="tns:Clients" />
  <xs:complexType name="ArrayOfGames">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Games" nillable="true" type="tns:Games" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGames" nillable="true" type="tns:ArrayOfGames" />
  <xs:complexType name="Games">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clients" nillable="true" type="tns:ArrayOfClients" />
      <xs:element minOccurs="0" name="EndingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Loser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Winner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tie" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Games" nillable="true" type="tns:Games" />
  <xs:complexType name="ArrayOfClients">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clients" nillable="true" type="tns:Clients" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClients" nillable="true" type="tns:ArrayOfClients" />
</xs:schema>